@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}  

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    padding-bottom: 50px;
}
header{
    background-color: var(--cor1);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.014);
    font-size: 1.5em;
    color: white;
    letter-spacing: 0.2em;
    min-height: 150px;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.subtitulo{
    font-size: 0.7em;
    font-weight: normal;
}
nav{
    max-width: 1000px;
    margin: auto;
    background-color: var(--cor2);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: var(--fonte-padrao);
    letter-spacing: 0.1em;
    font-size: 0.8em;
    padding: 10px 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.btn-social{

    background-color: transparent;
    border: none
    cursor: pointer;
    font-size: 1.9em;
    color: white;

}

.btn-social:hover{
    color: var(--cor1);
}

.nav-logo {
    width: 70px;
    border-radius: 50%;
    height: auto;
}

.nav-links {
    flex: 1;
    text-align: center;
}

nav a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav a:hover{
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 20px;
    transition-duration: 0.5s;
    text-decoration: underline;
    text-decoration-color: var(--cor5); 
}


    
nav a {
        display: inline-block;
        margin: 5px;
    }

nav a:hover {
        background-color: var(--cor1);
        color: var(--cor5);
        border-radius: 20px;
        transition-duration: 0.5s;
        text-decoration: underline;
        text-decoration-color: var(--cor5);
    }

.social-links {
    display: flex;
    gap: 15px;  
    margin-left: auto;
}

.social-icon img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.2);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img{
    width: 100%;

}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
   
}   
main a{
    text-decoration: none;
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 5px;
    color: var(--cor5);
    font-weight: bold;
}
main a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    text-decoration: underline;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    letter-spacing: 0.1em;

    
}

main h2{
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    letter-spacing: 0.1em;
    text-indent: 8px;
}
 main img.img-artigo{
    width: 50%;
    display: block;
    margin: auto;
 }

div.video{
    background-color: #49ef91;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
    }

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
aside{
    
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
}
aside ul{
    list-style-type: '\2714\00A0\00A0'; /*não é compativel com todos os navegadores */
    list-style-position: inside;
    columns: 2;
    

}   

aside h3{
    background-color: var(--cor4);     
    color: white;
    padding: 10px;
   margin: -10px -10px 0px -10px;
   border-radius: 10px 10px 0px 0px;
   box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
   border: 1px solid var(--cor4);
}

aside p{
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 0.9em;
}
a.externo::after{
    content: '\00A0\1F517';
    }


footer{
    background-color: var(--cor5);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 0.8em;   
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}   

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}




